body {
  min-height: 100vh;
  overflow-y: auto;
  background-image: url(imagens/Fundo\ Cyberpunk\ Tecnológico.png);

}

header {
  background-color: #1c2e49;
  color: #aac2e6;
  margin: 20px;
  padding: 15px;
  border: 2px solid #4b4b4b;
}

main {
  background-color: #1c2e49;
  color: #aac2e6;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  border: 2px solid #4b4b4b;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}



footer {
  background-color: #1c2e49;
  color: #aac2e6;
  margin: 20px;
  padding: 15px;
  border: 2px solid #4b4b4b;
}

h2 {
  font-size: 30px;
  text-decoration: underline;
}

.destaque {
  font-style: italic;
  background-color: #041022;
  font-size: 20px;
  padding: 0.4rem;
  border-radius: 4px;
  overflow-x: hidden;
}

#importante {
  border-top: 4px solid #4b4b4b;
}

.galeria-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: hidden;

}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

figure {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  background-image: url(imagens/Fundo\ Cyberpunk\ Tecnológico.png);
}

img {
  width: 100%;
  height: 50%;
  display: block;
  object-fit: cover;
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;

}

a:hover {
  color: rgb(0, 255, 64);
}

.links-nav {
  text-decoration: none;
  font-size: 20px;
  color: #a3e1e6;
}

.menu.active .nav-links {
  display: flex;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.hamburguer {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  color: #aac2e6;
}

@media (max-width: 600px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 10px;
    left: 50px;
    background-image: url(imagens/Fundo\ Cyberpunk\ Tecnológico.png);
    padding: 10px;
    border-radius: 8px;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    z-index: 1000;
  }

  .menu.active .nav-links {
    display: flex;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .hamburguer {
    display: block;
  }

   #btnTopo {
    width: 40px;
    height: 40px;
    font-size: 20px;
    bottom: 15px;
    right: 15px;
  }
}

@media(max-width: 400px) {
  .galeria {
    grid-template-columns: 1fr;
  }
}

#btnTopo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, trasform 0.3s ease;
  z-index: 1000;
}

#btnTopo:hover {
  background-color: #555;
  transform: scale(1.1);
}

#btnTopo.mostrar {
  opacity: 1;
  pointer-events: auto;
}